body {
  font-family:'lucida grande', 'lucida sans unicade', sans-serif;
  font-size:100%;
  line-height:1.3;
  margin:0;
  padding:0;
}

#content {
  font-size:1.1em;
  max-width:50em;
  min-width:50em;
  margin: 0 auto;
  width: 850px;
  margin: 0 auto;
  padding: 41px 8px 0px 8px;
}

td {
	height: 16;
	width: 16;
}

td.unclicked {
	background-image:url('../images/unclicked.gif');
}

td.mines0 {
	background-image:url('../images/mines0.gif');
}

td.marked {
	background-image:url('../images/marked.gif');
}

td.uncertain {
  background-image:url('../images/uncertain.gif');
}