body {
  background-color: teal; }

.minesweeper {
  margin: auto auto;
  border-width: 1px;
  border-style: outset;
  background-color: #BBB;
  padding: 1px; }

.title {
  background-color: #000088;
  height: 18px; }

.title_left {
  float: left;
  background-image: url("../images/title.gif");
  height: 18px;
  width: 94px; }

.title_right {
  float: right;
  background-image: url("../images/buttons.gif");
  height: 18px;
  width: 52px; }

.outer {
  border: 3px outset #EEE;
  background-color: #BBB; }

.top {
  height: 26px;
  margin: 5px;
  border: 3px inset #EEE;
  background-color: #BBB;
  text-align: center;
  font-size: 22px; }

.minesRemaining {
  float: left; }

.timer {
  float: right; }

#indicator {
  height: 26px;
  width: 26px;
  padding-right: 30px;
  background-repeat: no-repeat; }

.bottom {
  margin: 5px;
  border: 3px inset #EEE;
  background-color: #BBB; }

.lcd {
  height: 21px;
  width: 11px;
  margin: 3px 1px;
  float: left;
  background-repeat: no-repeat; }

.n0 {
  background-image: url("../images/0.gif"); }

.n1 {
  background-image: url("../images/1.gif"); }

.n2 {
  background-image: url("../images/2.gif"); }

.n3 {
  background-image: url("../images/3.gif"); }

.n4 {
  background-image: url("../images/4.gif"); }

.n5 {
  background-image: url("../images/5.gif"); }

.n6 {
  background-image: url("../images/6.gif"); }

.n7 {
  background-image: url("../images/7.gif"); }

.n8 {
  background-image: url("../images/8.gif"); }

.n9 {
  background-image: url("../images/9.gif"); }

.statusAlive {
  width: 28;
  background-image: url("../images/btnsmile.gif"); }

.statusDead {
  width: 28;
  background-image: url("../images/btndead.gif"); }

.statusWon {
  width: 28;
  background-image: url("../images/btncool.gif"); }

.statusAlivePressed {
  width: 28;
  background-image: url("../images/btnsmile2.gif"); }

td {
  background-repeat: no-repeat;
  background-position: center center; }

tr.field td {
  height: 16px;
  width: 16px; }

td.field_side {
  width: 12px !important;
  background-image: url("../images/fielside.gif");
  background-size: 100% 100%; }

td.unclicked {
  background-image: url("../images/unclicked.gif"); }

td.mines0 {
  background-image: url("../images/mines0.gif"); }

td.mines1 {
  background-image: url("../images/mines1.gif"); }

td.mines2 {
  background-image: url("../images/mines2.gif"); }

td.mines3 {
  background-image: url("../images/mines3.gif"); }

td.mines4 {
  background-image: url("../images/mines4.gif"); }

td.mines5 {
  background-image: url("../images/mines5.gif"); }

td.mines6 {
  background-image: url("../images/mines6.gif"); }

td.mines7 {
  background-image: url("../images/mines7.gif"); }

td.mines8 {
  background-image: url("../images/mines8.gif"); }

td.marked {
  background-image: url("../images/marked.gif"); }

td.uncertain {
  background-image: url("../images/uncertain.gif"); }

td.mine {
  background-image: url("../images/mine.gif"); }
